   .header{
    height: 50px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.logo img{
    height: 50px;
    width: 150px;

}

.optn{
    display: flex;
    flex-direction: row;
    width: 50%;
}

.optn a{
    margin: 2px 10px 0px 10px ;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 23px;
    font-family: sans-serif;
    color: black;
    padding: 5px;
    
}

.optn a:hover{
    color: rgb(255, 255, 255);
    background-color: blue;
    border-radius: 10px;
  }

  .all_info{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
    background-image:linear-gradient(to right,#c8ff00,#ffffff,#c8ff00,#ffffff,#c8ff00) ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    margin-top: 10px;
    /* box-shadow: 0px -10px 40px #5eff00;
 */
}
.social_link,
.contact_info,
.impo_link{
    line-height: 30px;
    width: 20%;
    margin:30px 0px 10px 50px;
}

.me_info{
    width: 40%;
    margin:30px 0px 10px 50px;
}

.p_11{
    font-size: 45px;
}
.p_22{
    font-size: 20px;
    line-height: 30px;
}
.p_33{
    font-size: 30px;
}

.impo_link a{
    display: flex;
    flex-direction: column;
    font-size: 20px;
    text-decoration: none;
    color: black;
}

.p_44{
    font-size: 30px;
}

.as{
    font-size: 20px;
}

.p_55{
    font-size: 30px;
}

.social_link a{
    display: flex;
    font-size: 20px;
    text-decoration: none;
    color: black;

}

.social_link a:hover,
.impo_link a:hover{
    color: blue;
}

.footer_foot{
    height: 50px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgb(62, 59, 59);
    margin-top: 0px;

}

.footer_foot p{
    font-size: 20px;
    text-align: center;
    font-family: arial;
    color: white;
}

.all_footer{
    height: 300px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.p_p{
    margin-top: 40px;
    font-size: 20px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.p_pp{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    text-align: center;
}
